<main>


    <!-- <div id="search-component">
        <h4><label for="search-box">Section Search</label></h4>
        <label>Search: <input type="text" [formControl]="search_string" (keyup.enter)="search_query()"></label>
        <button id="submit" (click)="search_query()">Submit</button>
    </div> -->
    <div class="wrap">
        <div class="search">
            <input type="text" [formControl]="search_string" (keyup.enter)="search_query()" class="searchTerm"
                placeholder="What are you looking for?">
            <button type="submit" (click)="search_query()" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <h2 style="text-align: center;">Results for {{ query }}</h2>
    <!-- <div>
    <label>Section name:
        <input #sectionName />
    </label>
    <button (click)="sort($event)">
        add
    </button>
</div> -->
    <!-- <ul class="sections">
    <li *ngFor="let section of sections">
        <a routerLink="/detail/{{section.sid}}">
            <span class="badge">{{section.id}}</span> {{section.name}}
        </a>
        <button class="delete" title="delete section" (click)="sort($event)">x</button>
    </li>
</ul> -->
    <div class="outer" *ngIf="isLoading$ | async">
        <div class="loader"></div>
    </div>
    <div *ngIf="!(isLoading$ | async) && (!sections || sections[0].hasOwnProperty('bad'))">No Results Found.</div>
    <table *ngIf="!(isLoading$ | async) && !sections[0].hasOwnProperty('bad')" id="content-table3"
        class="table-responsive-full sort-table">
        <thead>
            <tr>
                <th class="id md-remove" (click)="sort($event)">Id
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="number md-remove" (click)="sort($event)">Number
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="name md-remove" (click)="sort($event)">Name
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="status" (click)="sort($event)">Status
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="professor md-remove" (click)="sort($event)">Professor
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="professor_gpa" (click)="sort($event)">GPA
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="professor_rating" (click)="sort($event)">Rating
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th class="time md-remove" (click)="sort($event)">Time
                    <i class="fa fa-fw fa-sort"></i>
                </th>
            </tr>
        </thead>
        <tr *ngFor="let section of sections">
            <td data-label="id" class="id">{{ section.id }}</td>
            <td data-label="number" class="number">{{ section.sid }}</td>
            <td data-label="name" class="name">{{ section.name.split("(")[0] }}</td>
            <td data-label="mode" class="mode">{{ section.status }}</td>
            <td data-label="professor" class="professor">
                <a *ngIf="section.professor != '-Staff-'"
                    href="{{ 'https://profiles.utdallas.edu/browse?search=' + section.professor}}">{{ section.professor }}</a>
                <span *ngIf="section.professor == '-Staff-'">{{ section.professor }}</span>
            </td>
            <td data-label="professor gpa" class="professor_gpa">
                <a *ngIf="section.professor_gpa != '0 Records Found'"
                    href="{{'https://saitanayd.github.io/utd-grades/?prof=' + section.professor}}">{{ section.professor_gpa }}</a>
                <span *ngIf="section.professor_gpa == '0 Records Found'">{{ section.professor_gpa }}</span>
            </td>
            <td data-label="professor rating" class="professor_rating">
                <a *ngIf="section.professor_link != '0 Records Found'"
                    href="{{'https://www.ratemyprofessors.com/ShowRatings.jsp?tid=' + section.professor_link}}">{{ section.professor_rating }}</a>
                <span *ngIf="section.professor_link == '0 Records Found'">{{ section.professor_rating }}</span>
            </td>
            <td data-label="time" class="time">{{ section.time }}</td>
        </tr>
    </table>

    <!-- <app-section-detail [section]="selectedSection"></app-section-detail> !-->
</main>