<h2>My Sections</h2>
<div>
    <label>Section name:
        <input #sectionName />
    </label>
    <button (click)="add(sectionName.value); sectionName.value=''">
        add
    </button>
</div>
<ul class="sections">
    <li *ngFor="let section of sections">
        <a routerLink="/detail/{{section.id}}">
            <span class="badge">{{section.id}}</span> {{section.name}}
        </a>
        <button class="delete" title="delete section" (click)="delete(section)">x</button>
    </li>
</ul>

<!-- <app-section-detail [section]="selectedSection"></app-section-detail> !-->